.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.section__title {
    font-weight: bold;
    font-size: 20px;
}

.searchContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: gray;
    width: 80%;
    padding: 10px 30px;
    border-radius: 20px;
}

.searchInput {
    width: 90%;
    height: 30px;
    padding: 10px 15px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #464646;
    border: none;
}