.list {
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    max-width: 1000px;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.list_item {
    display: grid;
    grid-template-rows: 40px 100px 160px;
    grid-template-columns: repeat(4, 75px);
    text-decoration: none;
    font-size: 16px;
    width: 300px;
    height: 300px;
    background-color: #ffffff80;
    border-radius: 20px;
}

.list_item_marked {
    display: grid;
    grid-template-rows: 40px 100px 160px;
    grid-template-columns: repeat(4, 75px);
    text-decoration: none;
    font-size: 16px;
    width: 300px;
    height: 300px;
    background-color: #7fffd497;
    border-radius: 20px;
}

.edit_desc {
    grid-column: 1/5;
    grid-row: 1/2;
}

.list_edit_input {
    grid-column: 1/5;
    grid-row: 2/3;
}

.list_item > *, .list_item_marked > * {
    display: flex;
    align-self: center;
    justify-self: center;
    place-content: center;
}

.item_text {
    grid-column: 1/5;
    grid-row: 2/3;
    color: #363636;
}

.list_delete {
    grid-column: 1/3;
    grid-row: 3/4;
    width: 100px;
    height: 40px;
    padding: 10px 15px;
    background-color: #ff4f4f;
    color: white;
}

.list_edit {
    grid-column: 3/5;
    grid-row: 3/4;
    width: 100px;
    height: 40px;
    background-color: #80d0ff;
}

.mark {
    padding: 0;
    width: 24px;
    height: 24px;
    border-radius: 10px;
}

.tags_btn {
    grid-column: 4/5;
    grid-row: 1/2;
}

.tags {
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-rows: 1fr 50px;

    z-index: 1;
    background-color: #c6c6c6;
    color: #595959;
    grid-column: 1/5;
    grid-row: 2/5;
    width: 300px;
    height: 260px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.tags_unvisible {
    display: none;
}

.tags_cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: scroll;
    gap: 5px;
    width: 100%;
    max-height: 200px;
}

.add_tag_btn {
    align-self: center;
    justify-self: center;
    grid-column: 1/5;
    grid-row: 2/5;
    padding: 0;
    width: 150px;
    height: 40px;
}
.tag {
    background-color: #b0b0b0;
    display: inline-flex;
    max-width: 100%;
    word-break: break-word;
}