.header {
    width: 100%;

    ul {
        color: var(--color-text);
        padding: 0;
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: space-between;
    }
    li {
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
    li:hover {
        color: blue;
        transform: scale(1.2);
    }
    li::marker {
        content: "";
    }
    button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        padding: 0;
        background-color: transparent;
    }
    button:focus {
        outline: none;
    }
}