#root {
  width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input {
  padding: 10px 20px;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  background-color: var(--bg-input);
  color: var(--color-input);
}
