
.form {
    padding: 30px;
    background-color: var(--bg-components);
    border-radius: 20px;
    align-items: center;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form__title {
    font-weight: bold;
}

.form_cont {
    display: flex;
    flex-direction: row;
    gap: 20px;
    label {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
}